<div class="row my-2">
  <div class="col-md-12">
    <div class="alert alert-info">
      <strong>Note:</strong> MDV takes ~60 seconds to fully initialise after the
      session starts. If you see a connection error, wait a moment and try again.
    </div>
    <a href="/rnode/<%= host %>/<%= port %>/"
       target="_blank"
       class="btn btn-primary btn-lg">
      <i class="fa fa-chart-bar"></i> Connect to MDV
    </a>
  </div>
</div>
